#container {
  margin-top: 20px;
  justify-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background-color: #e8eddf; */
  background-color: mintcream;
}


.piano-numbers {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: normal;
  font-family: "IBM Plex", monospace;
}

.piano {
  font-size: 40px;
  font-weight: normal;
  font-family: "IBM Plex", monospace;
}

.piano.active .piano-numbers {
  border-left: 7px solid #f5cb5c;
}

.piano.active .select-button {
  background-color: #f5cb5c;
  border-top: #545677 4px solid;
  border-left: 4px solid #545677;
  /* position: inherit; */
  left: 7px;
}

.select-button {
  box-sizing: border-box;
  position: relative;
  bottom: 25px;
  background-color: #545677;
  border: none;
  padding: 10px 10px;
  cursor: grab;
  transition: background 500ms ease;
  border-top: #545677 4px solid;
  border-left: 4px solid #545677;
  
  /* top: 20px; */
  /* bottom: 20px; */
}

.remove-button {
  background-color: #9b1f30;
  border: 4px solid #9b1f30;
  box-sizing: border-box;
  padding: 10px;
}

.base-input {
  background-color: #cfdbd5;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #545677;
  outline: 0px;
  text-align: center;
  padding: 5px;
  font-size: 24px;
  width: 55px;
}

#start{
  font-family: serif;
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: #545677;
  color: #f5cb5c;
  border: none;
}

#add-piano {
  border: none;
  font-family: monospace;
  font-size: 20px;
  background-color: #545677;
  color: #f5cb5c;
  border-radius: 5px;
}

/*
  Input notes
*/

#notes {
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#notes input {
  border: none;
  width: 55px;
  font-size: inherit;
  border-bottom: 4px solid #545677;
  text-align: center;
  padding: 5px;
}

#notes input.selected {
  border-bottom: 4px solid #9b1f30;
  /* outline: 2px solid #545677; */
}

/*#notes input:focus {
  border-bottom: 4px solid hotpink;
}
*/


/*
#notes input.selected::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: #545677;
  z-index: -1;
}
*/


/*
  The Keyboard
 */


ul {
  position: relative;
  width: 750px;
  margin: auto;
  padding: 0px;
  height: 90px;
}

li {
  position: relative;
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
}

.piano-key {
  transition: background 100ms ease;
}

ul {
  overflow: visible;
}

ul .white {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #eee;
  background: #fff;
  height: 80px;
  width: 12px;
  z-index: 1;
}

.white:hover {
  background: #eee;
}

.black {
  margin: 0 -4px 0 -4px;
  border: 1px solid #000;
  background: black;
  height: 50px;
  width: 8px;
  z-index: 2;
}

.black:hover {
  background: #444;
}

ul .highlight {
  border-bottom: #f5cb5c 5px solid;
}

ul .selected {
  border-bottom: #9b1f30 5px solid;
}

ul .playing {
  border-color: aqua;
}

/* .notes {
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 40px;
} */

/* .notes input {
  border: none;
  width: 55px;
  font-size: inherit;
  border-bottom: 4px solid #545677;
  outline: 0px;
  text-align: center;
  padding: 5px;
} */

/* .notes input:focus {
  border-bottom: 4px solid #f5cb5c;
} */


/* 
.info h1 {
  text-align: center;
  color: #545677;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 0px;
}

.info span {
  margin-left: 10px;
  margin-right: 15px;
  letter-spacing: -2px;
}

.details {
  max-width: 700px;
  padding: 30px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

@media only screen and (max-width: 700px) {
  .editor-container.open {
    height: auto;
  }

  .notes input {
    margin-bottom: 8px;
  }

  .info h1 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
  }

  .notes {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .details {
    font-size: 10px;
    padding: 10px;
  }
} */
